@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  }
  body {
    @apply bg-gray-100 min-h-screen text-slate-800;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}



/* Tùy chỉnh độ rộng thanh cuộn */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Tùy chỉnh phần nền (Track) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Tùy chỉnh phần thanh trượt (Thumb) */
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

/* Hiệu ứng khi rê chuột vào thanh cuộn (Hover) */
::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
